<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formulario</title>
</head>
<body>
    <h1>Registro, revisar</h1>
    <form action="/registro/crear" method="post">
        {% csrf_token %}
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" placeholder="nombre">
        <label for="apellido">Apellido</label>
        <input type="text" name="apellido" placeholder="apellido">
        <label for="edad">Edad</label>
        <input type="number" name="edad" placeholder="edad">

        <input type="submit" value="Guardar">
    </form>
    <form action="/registro/crearperro" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="imagenperro">ImagenPerro</label>
        <input type="file" class="form-control" name="imagenperro">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" placeholder="nombre">
        <label for="Razaperro">Raza</label>
        <input type="text" name="Raza" placeholder="Raza">
        <label for="Descripción">Descripción</label>
        <input type="text" name="Descripción" placeholder="Descripción">
        <label for="Estado">Estado</label>
        <input type="text" name="Estado" placeholder="Estado">
        <input type="submit" value="Guardar">
    </form>
</body>
</html>