<!doctype html>
<html lang="es">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" type="text/css" >
        <link rel="stylesheet" href="{% static "css/estilo.css" %}" type="text/css">

        <title>Mis Perris</title>
    </head>
    <body>
        <!--Navbar-->
        <header>
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #85d4b7;">
                <a class="navbar-brand" href="#"><img src="{% static "img/logo.png" %}" class="d-block w-100 rounded mx-auto" alt="Logo"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                  
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        {% if usuario is not null %} 
                            {% if request.user.is_superuser %}
                                <li class="nav-item">
                                    <a class="nav-link btn btn-navbar" href="#">Inicio <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link btn btn-navbar" href="#formularioPerro">Mantenedor perros</a>
                                </li>
                                <li class="nav-item">
                                   <a class="nav-link btn btn-navbar" href="#postulantess">Postulantes</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link btn btn-navbar" href="#">Inicio <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link btn btn-navbar" href="#disponibles">Disponible</a>
                                </li>
                            
                            {% endif %}
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link btn btn-navbar" href="#">Inicio <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn btn-navbar" href="#rescatados">Quienes Somos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn btn-navbar" href="#servicios">Servicios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn btn-navbar" href="#redesSociales">Contáctanos</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle btn-navbar" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Galeria</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#disponibles">Disponible</a>
                                    <a class="dropdown-item" href="#adoptados">Adoptado</a>
                                    <a class="dropdown-item" href="#rescatados">Rescatado</a>
                                </div>
                            <li>
                        {% endif %}
                        
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        {% if usuario is not null %}  
                            <li class="nav-item">Bienvenido {{usuario}} <a class="btn btn-danger" href="{% url "cerrar_session" %}">Cerrar Sesión</a> </li>
                            {% else %}
                            <a class="btn btn-success" href="{% url "login"%}" >Iniciar Sesión</a>
                            <a class="btn btn-info" href="#formulario" id="mostrar">Registrarse</a>
                        {% endif %}
                    </form>
                </div>
            </nav>
        </header>
        <!--Fin Navbar-->
        <!--Carousel-->
        <div class="container-fluid" style="background-color: #6dccaa;">
            <div class="row">
                <div class="col-md-12">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">


                        <div class="carousel-inner">
                            {% for p in perros %}
                                {% if p.estado == 'Disponible' %}
                                    {% if n == 1 %}
                                    <div class="carousel-item active">
                                        <img class="d-block w-100 center-cropped rounded mx-auto" src="/media/{{p.foto}}" alt="{{p.nombre}}">
                                        <div class="carousel-caption">
                                            
                                            <p>"{{p.descripcion}}"</p>
                                            
                                        </div>
                                    </div>
                                    {% else %}
                                        <div class="carousel-item">
                                            <img class="d-block w-100 center-cropped rounded mx-auto" src="/media/{{p.foto}}" alt="{{p.nombre}}">
                                            <div class="carousel-caption">
                                                
                                                <p>"{{p.descripcion}}"</p>
                                                
                                            </div>
                                        </div>
                                    {% endif %}
                                    
                                {% endif %} 
                            {% endfor %} 
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div> 
            </div>
            <!--Redes Sociales-->
            <div class="row" id="redesSociales">
                <div class="col-md-12 text-center">
                    <a href="https://es-la.facebook.com/" target="_blank"><span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                    </span></a>
                    <a href="https://www.google.es/" target="_blank"><span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-google-plus-g fa-stack-1x fa-inverse"></i>
                    </span></a> 
                    <a href="https://www.instagram.com/" target="_blank"><span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                    </span></a>
                    <a href="https://www.google.com/intl/es/gmail/about/#" target="_blank"><span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                    </span></a>
                </div>
            </div>
            <!--Fin Redes Sociales-->
        </div>
        <!--Fin Carousel-->
        
        <!--Informacion de la pagina-->
        <div class="container" id="servicios">
            <div class="row">
                <div class="col-xs-12 col-ms-6 col-md-6 derecha">
                    <h1>RESCATE</h1>
                    <h5>ETAPA UNO</h5>
                    <hr>
                    <p>
                        Rescatamos perros en situacion de peligro y/o abandono.
                        Los rehabilitamos y los preparamos para buscarles un hogar.
                    </p>
                    <img src="{% static "img/rescate.jpg" %}" class="img-fluid" alt="rescate" >
                </div>
                <div class="col-xs-12 col-ms-6 col-md-6 izquierda">
                    <img src="{% static "img/crowfunding.jpg" %}" class="img-fluid" alt="crowfunding" >
                    <h1>CROWDFUNDING</h1>
                    <h5>FINANCIAMIENTO</h5>
                    <hr>
                    <p>
                        Sigue nuestras redes sociales para informarte acerca de las 
                        diversas capañas y actividades que realizamos para obtener 
                        financiamiento para seguir ayudando.
                    </p>
                    <a class="btn btn-outline-dark" href="#">Campañas</a>
                </div>
            </div>
        </div>
        <!--Fin Informacion de la pagina-->
        
        <!--Formulario Postulante-->
        <div class="container">
            <form action="/postulante/crear" id="formulario" method="POST">
            {% csrf_token %}
            <h1>Registro de Postulante</h1>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Run</label>
                        <input required type="text" class="form-control" name="run" placeholder="Ingrese Run 12345678-9">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Contraseña</label>
                        <input required type="password" class="form-control" name="contrasenia" placeholder="Ingrese Contraseña">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Nombre Completo</label>
                        <input required type="text" class="form-control" name="nombre" placeholder="Ingrese nombre completo">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Fecha de Nacimiento</label>
                        <input required type="date" class="form-control" name="fechaNacimiento" >
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Correo Electrónico</label>
                        <input required type="email" class="form-control" name="correo" placeholder="Ingrese Correo Electrónico">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Teléfono</label>
                        <input type="number" maxlength="9" minlength="8" class="form-control" name="telefono" placeholder="Ingrese teléfono de contacto">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="region">Región</label>
                        <select required class="form-control" name="region" id="region">
                            <option hidden value="">Seleccione Region</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="comuna">Comuna</label>
                        <select required class="form-control" name="comuna" id="comuna">
                            <option hidden value="">Seleccione Comuna</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Tipo de vivienda</label>
                        <select required class="form-control" name="tipoVivienda">
                            <option hidden value="">Seleccione Tipo</option>
                            <option value="Casa con patio grande">Casa con patio grande</option>
                            <option value="Casa con patio pequeño">Casa con patio pequeño</option>
                            <option value="Casa sin patio">Casa sin patio</option>
                            <option value="Departamento">Departamento</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <button type="reset" class="btn btn-danger btn-block">Limpiar</button>
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-outline-info btn-block" id="ocultar">Ocultar</button>
                </div>
                <div class="col-md-4">
                    <input type="submit" class="btn btn-success btn-block" value="Guardar">
                </div>
            </div>
            </form>
            <h6>{{mensaje}}</h6>
        </div>
        <!--Formulario Postulante-->

        {% if usuario is not null %} 
            {% if request.user.is_superuser %}
        <!--Mostrar Inscritos-->
        <div class="container" id="postulantess" >
            <h2>Postulantes</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Run</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Correo</th>
                            <th scope="col">Telefono</th>
                            <th scope="col">Region</th> 
                            <th scope="col">Comuna</th>
                            <th scope="col">Tipo Vivienda</th>
                            <th scope="col">Contraseña</th>
                            <!--{% if usuario is not null %}-->
                            
                            <!--{% endif %}-->
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in postulantes %}
                        <tr>
                            <th scope="row">{{p.id}}</th>
                            <td>{{p.run}}</td>
                            <td>{{p.nombre }}</td>
                            <td>{{p.fecha}}</td>
                            <td>{{p.correo}}</td>
                            <td>{{p.telefono}}</td>
                            <td>{{p.region}}</td>
                            <td>{{p.comuna}}</td>
                            <td>{{p.vivienda}}</td>
                            <td>{{p.contrasenia}}</td>
                            
                            <!--{% if usuario is not null %}-->
                            
                            <!--{% endif %}-->
                            
                            <td> <a href="/postulante/eliminar/{{p.id}}">Borrar</a> </td>
                        </tr>
                        {% endfor %}                  
                    </tbody>
                </table>
            </div>
        </div>
            {% endif %}
        {% endif %}
        <!--Fin Mostrar Elementos-->
        
        {% if usuario is not null %} 
            {% if request.user.is_superuser %}
        <!--Formulario Perro-->
        <div class="container">
            <form action="{% url 'crear_perro' %}" id="formularioPerro" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <h1>Registro de perro</h1>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="foto">Fotografia</label>
                        <input required type="file" class="form-control" name="foto" id="foto" placeholder="Seleccione Fotografia">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input required type="text" class="form-control" name="nombre" placeholder="Ingrese nombre">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Raza</label>
                        <input required type="text" class="form-control" name="raza" placeholder="Ingrese Raza" >
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Descripción</label>
                        <input required type="text" class="form-control" name="descripcion" placeholder="Ingrese Descripción">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Estado</label>
                        <select required class="form-control" name="estado">
                            <option hidden value="">Seleccione Estado</option>
                            <option value="Rescatado">Rescatado</option>
                            <option value="Disponible">Disponible</option>
                            <option value="Adoptado">Adoptado</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button type="reset" class="btn btn-danger btn-block">Limpiar</button>
                </div>
                <div class="col-md-6">
                    <input type="submit" class="btn btn-success btn-block" value="Guardar">
                </div>
            </div>
            </form>
        </div>
        <!--Fin Formulario Perro-->

        <!--Mostrar Perros-->
        <div class="container" id="perritos" >
            <h2>Perros</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Foto</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Raza</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in perros %}
                        <tr>
                            <th scope="row">{{p.id}}</th>
                            <td><img src="/media/{{p.foto}}" alt="no foto" height="100" srcset=""></td>
                            <td>{{p.nombre }}</td>
                            <td>{{p.raza}}</td>
                            <td>{{p.descripcion}}</td>
                            <td>{{p.estado}}</td>
                            <td><a href="/perro/editar/{{p.id}}">Editar</a> <a href="/perro/eliminar/{{p.id}}">Borrar</a> </td>
                        </tr>
                        {% endfor %}                  
                    </tbody>
                </table>
            </div>
        </div>
        <!--Fin Mostrar Perros-->
            {% endif %}
        {% endif %} 

        <!--Gallery Disponible-->
        <div class="container-fluid" style="background-color: rgb(133, 212, 183);" id="disponibles"> 
            <div class="container">
                <h1>Galeria perros disponibles</h1>
                <div id="masonry">
                    {% for p in perros %}
                        {% if p.estado == 'Disponible' %}
                            <div class="item hovereffect">
                                <img src="/media/{{p.foto}}" alt="{{p.nombre}}" />
                                <div class="overlay">
                                    <h2>{{p.nombre}}</h2>
                                    <p>{{p.descripcion}}</p>
                                    <a class="info" href="#">Adoptar</a>
                                </div>
                            </div>   
                        {% endif %} 
                    {% endfor %}                 

                </div>
            </div>
        </div>
        <!--Fin Gallery Disponible-->
        <br>
        <!--Gallery Adoptados-->
        <div class="container-fluid" style="background-color: rgb(133, 212, 183);" id="adoptados"> 
            <div class="container">
                <h1>Galeria perros adoptados</h1>
                <div id="masonry">
                    {% for p in perros %}
                        {% if p.estado == 'Adoptado' %}
                            <div class="item hovereffect">
                                <img src="/media/{{p.foto}}" alt="{{p.nombre}}" />
                                <div class="overlay">
                                    <h2>{{p.nombre}}</h2>
                                    <p>{{p.descripcion}}</p>
                                </div>
                            </div>   
                        {% endif %} 
                    {% endfor %}                 
    
                </div>
            </div>
        </div>
        <!--Fin Gallery Adoptados-->
        <br>
        <!--Gallery Rescatados-->
        <div class="container-fluid" style="background-color: rgb(133, 212, 183);" id="rescatados"> 
            <div class="container">
                <h1>Galeria perros rescatados</h1>
                <div id="masonry">
                    {% for p in perros %}
                        {% if p.estado == 'Rescatado' %}
                            <div class="item hovereffect">
                                <img src="/media/{{p.foto}}" alt="{{p.nombre}}" />
                                <div class="overlay">
                                    <h2>{{p.nombre}}</h2>
                                    <p>{{p.descripcion}}</p>
                                </div>
                            </div>   
                        {% endif %} 
                    {% endfor %}                 
                </div>
            </div>
        </div>
        <!--Fin Gallery Rescatados-->

        <footer >
            <div class="container-fluid" style="background-color:#e6e6e6;">
                <h6>Desarrollo web y mobile</h6>
            </div>
        </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static "js/jquery-3.3.1.js" %}"></script>
    <script src="{% static "js/popper.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/jquery.validate.js" %}"></script>
    <script src="{% static "js/jquery.Rut.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
  </body>
</html>